
.discount{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(510px,1fr));
  }
  .discount>div{
    position: relative;
    max-width: 100%;
  }
  .discount>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .discount>div:first-child{
      background-color: #2196f3de;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
    }
    .discount>div:first-child>p{
      max-width: 500px;
      line-height: 2;
      font-size: 20px;
      text-align: center;
      margin: 20px 0;
    }
  .discount>div:first-child::after{
   content: '';
   background-image: url('../images/discount-background1.jpg');
   position: absolute;
   background-repeat: no-repeat;
   background-size: cover;
   left: 0;
   width: 100%;
   height: 100%;
   top:0;
   z-index: -1;
  }
  .discount>div>div{
    width: 25%;
  }
  .discount>div>div>img{
    max-width: 100%;
  }
  .discount>div:nth-child(2)>div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .discount>div:nth-child(2)>div h1{
    font-weight: bold;
    font-size: 40px;
  }
  .discount>div:nth-child(2) form{
    display: flex;
    width: 100%;
    background-color: #fcfcfc;
    flex-direction: column;
  }
  .discount>div:nth-child(2) form input,.discount>div:nth-child(2) form textarea{
    padding: 25px 15px;
    border: none;
    resize: none;
    outline: none;
    color: var(--main-color);
    caret-color: var(--main-color);
    background-color: #fcfcfc;
    border-bottom: 1px solid rgb(202, 202, 202);
    
  }
  .discount>div:nth-child(2) form a{
    width: 100%;
    background-color: var(--main-color);
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    text-align: center;
  }